@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

#Home{
    display: flex;
    height: 100vh;
}
#About{
    height: 100vh;
}
#Projects{
    height: 100vh;
}
#Academics{
    height:100vh;
}

#leftImage{
    background: url(../jean3.jpg);
    height:100vh;
    width: 110vh;
    background-size:cover;
}

#rightImage{
    background: url(../Snapchat-605981022-removebg-preview.png);
    height:100vh;
    width: 110vh;
    background-size:cover;
}

.icons{
    display: flex;
    margin-top: 2.8em;
    position: fixed;
    right:1%;
}
.icons a{
    margin: 0px 0.5em;
    color: black;
    border: 2px solid black;
    border-radius: 2em;
    width: 1.4em;
    padding-left: 0.2em;
}

.about_image{
    background-image: url(../about.png);
    height:50vh;
    width: 100vh;
    background-size:cover;
    margin: 8em 5em;
    border-radius: 2em;
}

#about_container{
    display: flex;
}

#allAbout{
    margin: 8em 5em;
    font-size: large;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto 18em;
    
}


.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 1em 5em;
    border-radius: 1em;
    background-color: #81c3db;
}

.cards img{
    height: 27vh;
    width: 40vh;
    border-radius: 1em;
}
.cards a button {
    background-color: #639fb5;
    border-radius: 5px;
}

.cards-container2{
    display: flex;
}

#resume{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    font-size: 1.5em;
}

#resume button{
    margin-left: 0.3em;
    border-radius: 0.2em;
    background-color: #639fb5;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-family: Caveat;
    background-color: #639fb5;
}


